<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openDoorColor</key>
	<string>#FFFFFF</string>
	<key>barSelTextColor1</key>
	<string>#5583FB</string>
	<key>homeTextColor1</key>
	<string>#FFFFFF</string>
	<key>barNormalTextColor</key>
	<string>#FFFFFF</string>
	<key>barSelTextColor</key>
	<string>#5583FB</string>
	<key>homeTextColor</key>
	<string>#FFFFFF</string>
	<key>navBarBackColor</key>
	<string>#202439</string>
	<key>bottomBarBackColor</key>
	<string>#20193B</string>
	<key>controllerViewColor</key>
	<string>#2C2E51</string>
	<key>navBarTextColor</key>
	<string>#FFFFFF</string>
	<key>buttonColor</key>
	<string>#5583FB</string>
</dict>
</plist>
