<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>normalImage</key>
		<string>CameraUnPic-1</string>
		<key>selImage</key>
		<string>CameraPic-1</string>
		<key>serverKey</key>
		<string>CameraIcon-1</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>CameraUnPic-2</string>
		<key>selImage</key>
		<string>CameraPic-2</string>
		<key>serverKey</key>
		<string>CameraIcon-2</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>CameraUnPic-3</string>
		<key>selImage</key>
		<string>CameraPic-3</string>
		<key>serverKey</key>
		<string>CameraIcon-3</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>CameraUnPic-4</string>
		<key>selImage</key>
		<string>CameraPic-4</string>
		<key>serverKey</key>
		<string>CameraIcon-4</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>CameraUnPic-5</string>
		<key>selImage</key>
		<string>CameraPic-5</string>
		<key>serverKey</key>
		<string>CameraIcon-5</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>CameraUnPic-6</string>
		<key>selImage</key>
		<string>CameraPic-6</string>
		<key>serverKey</key>
		<string>CameraIcon-6</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>CameraUnPic-7</string>
		<key>selImage</key>
		<string>CameraPic-7</string>
		<key>serverKey</key>
		<string>CameraIcon-7</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>CameraUnPic-8</string>
		<key>selImage</key>
		<string>CameraPic-8</string>
		<key>serverKey</key>
		<string>CameraIcon-8</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>CameraUnPic-9</string>
		<key>selImage</key>
		<string>CameraPic-9</string>
		<key>serverKey</key>
		<string>CameraIcon-9</string>
	</dict>
</array>
</plist>
