<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>normalImage</key>
		<string>MaoYanPicUn-1</string>
		<key>selImage</key>
		<string>MaoYanPic-1</string>
		<key>serverKey</key>
		<string>MaoYanIcon-1</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>MaoYanPicUn-2</string>
		<key>selImage</key>
		<string>MaoYanPic-2</string>
		<key>serverKey</key>
		<string>MaoYanIcon-2</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>MaoYanPicUn-3</string>
		<key>selImage</key>
		<string>MaoYanPic-3</string>
		<key>serverKey</key>
		<string>MaoYanIcon-3</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>MaoYanPicUn-4</string>
		<key>selImage</key>
		<string>MaoYanPic-4</string>
		<key>serverKey</key>
		<string>MaoYanIcon-4</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>MaoYanPicUn-5</string>
		<key>selImage</key>
		<string>MaoYanPic-5</string>
		<key>serverKey</key>
		<string>MaoYanIcon-5</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>MaoYanPicUn-6</string>
		<key>selImage</key>
		<string>MaoYanPic-6</string>
		<key>serverKey</key>
		<string>MaoYanIcon-6</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>MaoYanPicUn-7</string>
		<key>selImage</key>
		<string>MaoYanPic-7</string>
		<key>serverKey</key>
		<string>MaoYanIcon-7</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>MaoYanPicUn-8</string>
		<key>selImage</key>
		<string>MaoYanPic-8</string>
		<key>serverKey</key>
		<string>MaoYanIcon-8</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>MaoYanPicUn-9</string>
		<key>selImage</key>
		<string>MaoYanPic-9</string>
		<key>serverKey</key>
		<string>MaoYanIcon-9</string>
	</dict>
</array>
</plist>
