<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>头像</string>
			<key>height</key>
			<string>80</string>
			<key>type</key>
			<string>1</string>
			<key>key</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>昵称</string>
			<key>height</key>
			<string>44</string>
			<key>type</key>
			<string>2</string>
			<key>key</key>
			<string>name</string>
		</dict>
		<dict>
			<key>title</key>
			<string>手机号码</string>
			<key>height</key>
			<string>44</string>
			<key>type</key>
			<string>2</string>
			<key>key</key>
			<string>phone</string>
		</dict>
	</array>
</array>
</plist>
